body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #282c34; /* Set background color for the whole page */
}

header {
    background-color: #282c34;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 1rem;
    color: white; /* Ensure text is visible on the dark background */
}

footer {
    background-color: #282c34;
    color: white;
    text-align: center;
    padding: 0.5rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}
